.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
}

.gallery-item {
    margin: 10px;
    text-align: center;
    flex: 0 0 calc(33.33% - 20px);
    max-width: calc(33.33% - 20px);
    overflow: hidden;
}

.gallery-item img {
    width: 100%;
    height: auto;  /* 或设置固定高度 */
    object-fit: contain;  /* 根据需要使用 'cover' 或 'contain' */